@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core and deploying on azure using azure devops</a>.</p>
    <p>For information click this <a href="https://blog.fasocloudsolutions.com/">link.</a>
    <p>Version 3.0</p>
</div>
