@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy in different zone</p>
<p>For more information about me clink link on the home page.</p>
